
@import url('https://fonts.googleapis.com/css?family=Bangers');
body {
    background-image: url("../images/gaming.jpg");
    font-family: 'Bangers', cursive;
    font-size: 50px;
    color: black;
    position: relative;
 }
 #container{
 	height: 500px;
 	width: 300px;
 	background-color: white;
 	
 	position: absolute;
 	left: 175px;
 	top: 150px;

 }
  #score{
 	height: 500px;
 	width: 200px;
 	margin-left: 800px;
 	background-color: pink;
 	
 	position: absolute;
 	left: 175px;
 	top: 150px;

 }
 .con{
 	margin-left: 500px;
 }
 .score{
 	margin-left: 1000px;
 	color: pink;
 }
  #score1{
    height: 500px;
    width: 200px;
    margin-left: 300px;
    background-color: pink;
    
    position: absolute;
    left: 175px;
    top: 150px;

 }
 
 #user, #user2{
 	text-align: center;
 	margin-top: 10px;
 	
 }
  #top_image{
 	text-align: center;
 	
 	background-color: pink; 
 	width: 80%;
 	position: absolute;
 	left: 25px;
 	top: 150px;
 	
 }
 #icons{
 	margin-top: 150px;
 	margin-left: 10px;
 	height: 80px;
 	width: 80px;
 }
 h2{
 	font-size: 100px;
 	
 }
  p{
 	font-size: 20px;
 	
 }

   h3{
 	font-size: 30px;
 	
 }
 #win{
    width: 60px;
    height: 100px;
    float: left;
    text-align: center;
    margin-top: 20px;
 }
 #head{
 	margin-left: 350px;
 	margin-top: 30px;
 	width: 900px;
 	height: auto;
 	background-color: pink;
 	text-align: center;
 }
 form{
 	margin-left: 50px;
 	padding-bottom: 50px;
 }
input[type=text], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#button, #button2 {
    background-color: pink;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Bangers', cursive;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.result2{
    float: left;
}